<!-- <header class="bg-primary text-white p-0 align-items-center centered-div ">
    <div class="full-width-container align-items-center"> 
        <nav class="">
            <div class="row p-0">
                <div class="col-2">
                    <img src="assets/images/logo.png" alt="Logo" class="logo-img" (click)="navigate('')"/>
                </div>
                <div class="col-10 d-flex align-items-center justify-content-end">
                    
                </div>

            </div>
          
        </nav>
      </div>
  </header> -->
  <nav class="navbar navbar-light bg-light p-0 shadow-nav fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand w-100" href="#">
        <div class="row w-100 justify-content-between align-items-center">
          <div class="col-auto d-flex align-items-center">            
            <img src="assets/images/logo.png" alt="" height="42" class="d-inline-block align-text-top">
            <h3 class="ms-2 mb-0">OpenMOBot</h3>
          </div>
          <div class="col-auto">
            <form class="d-flex">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Menu
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Build Robot</a></li>
                      <li><a class="dropdown-item" href="#">Program Robot</a></li>
                      <li><a class="dropdown-item" href="#">About OpenMOBot</a></li>
                    </ul>
                  </div>
            </form>
          </div>
        </div>
      </a>
    </div>
  </nav>
  