<div class="about-us-section">
  <div class="electronics">
    <div class="about-us-content">
      <h1>About Us</h1>
    </div>
  </div>
  <div class="content-section">
    <div class="content-block">
      <h2>About the project</h2>
      <p class="highlight-line"></p>
      <p class="text-container">
        This robot system is focused on a few different aspects from education
        on robotics, electronics, and programming. The system provides modular
        robotics hardware that can be separated on a modular education blocks.
        The robot system covers:
      </p>
      <ul>
        <li class="text-container">
          Mechanical part that helps youngsters understand how to build the
          robot and assemble the robotic parts together.
        </li>
        <li class="text-container">
          Modular electronics that is extendable of various parts.
        </li>
        <li class="text-container">
          Modular software that is open source and easy to rewrite.
        </li>
      </ul>
    </div>
    <div class="content-block">
      <h2>Our repositories</h2>
      <p class="highlight-line"></p>
      <ul>
        <li class="text-container">
          <a href="https://github.com/OpenMOBot/OpenMOBot" target="_blank"
            >OpenMOBot</a
          >
          - This repository contains the firmware for controlling and managing
          the robot's core functions, sensors, and actuators.
        </li>
        <li class="text-container">
          <a href="https://github.com/OpenMOBot/3DModels" target="_blank"
            >3DModels</a
          >
          - This repository hosts a collection of 3D models used in the project.
        </li>
        <!-- <li class="text-container">
          <a
            href="https://github.com/OpenMOBot/OpenMOBot.github.io"
            target="_blank"
            >OpenMOBot.github.io</a
          >
          -
        </li> -->
      </ul>
    </div>
    <div class="content-block">
      <h2>Contributing</h2>
      <p class="highlight-line"></p>
      <p class="text-container">
        If you'd like to contribute to this project, please follow these steps:
      </p>
      <ol>
        <li class="text-container">Fork the repository on GitHub.</li>
        <li class="text-container">
          Clone your forked repository to your local machine.
        </li>
        <li class="text-container">
          Create a new branch for your changes:
          <code>git checkout -b my-new-feature</code>.
        </li>
        <li class="text-container">
          Make your modifications and write tests if applicable.
        </li>
        <li class="text-container">
          Commit your changes: <code>git commit -am 'Add some feature'</code>.
        </li>
        <li class="text-container">
          Push the branch to your forked repository:
          <code>git push origin my-new-feature</code>.
        </li>
        <li class="text-container">
          Create a pull request on the main repository.
        </li>
      </ol>
      <p class="text-container">We appreciate your contributions!</p>
    </div>
    <div class="content-block">
      <h2>Contacts</h2>
      <p class="highlight-line"></p>
      <div class="contact-item">
        <h5>Martin Ayvazov</h5>
      </div>
      <div class="contact-item mb-3">
        <span><i class="bi bi-envelope"></i></span>
        <span>martin.ayvazov&#64;gmail.com</span>
      </div>
      <div class="contact-item">
        <h5>Orlin Dimitrov</h5>
      </div>
      <div class="contact-item">
        <span><i class="bi bi-envelope"></i></span>
        <span>orlin369&#64;gmail.com</span>
      </div>
    </div>
  </div>
</div>
