/* Container for the step */
.step-container {
    width: 90%; /* Ensure it takes up 100% of its parent width */
    max-width: 1000px; /* Limit the max width for large screens */
    margin: 0 auto; /* Center the container */
    padding: 36px; /* Fixed padding to ensure consistent spacing */
    box-sizing: border-box; /* Ensures padding is included in the total width */
    max-height: 75vh;
    -webkit-box-shadow: 0px 0px 39px -5px rgba(0,0,0,0.51);
    -moz-box-shadow: 0px 0px 39px -5px rgba(0,0,0,0.51);
    box-shadow: 0px 0px 39px -5px rgba(0,0,0,0.51);
    border-radius: 10px;
}

.step-content {
    
    width: 95%;
    height: 100%;

}
/* Responsive GIF styling */
.step-gif {
    width: auto; /* Make the GIF fill the container width */
    height: auto; /* Maintain the aspect ratio */
    max-height: 50vh;
    border-radius: 10px; /* Optional: rounded corners */
}

/* Responsive typography */
h2 {
    font-size: 2em; /* Use em for responsive text that scales with container */
    margin-left: 0.5rem;
}

p {
    font-size: 1.2em; /* Use em for paragraph text */
    margin-left: 0.5rem;
}


/* Media query for smaller screens (mobile) */
@media (max-width: 768px) {
    .step-container {
        width: 95%; /* Take up almost the full screen width on mobile */
        padding: 10px; /* Reduce padding for smaller devices */
    }

    h2 {
        font-size: 1.5em; /* Slightly smaller heading on mobile */
    }

    p {
        font-size: 1em; /* Adjust paragraph size for mobile readability */
    }
    /* Responsive GIF styling */
    .step-gif {
        width: 95%; /* Make the GIF fill the container width */
    }
}

@media (max-width: 576px) {
    .step-container {
        width: 95%; /* Take up almost the full screen width on mobile */
        padding: 10px; /* Reduce padding for smaller devices */
    }

    h2 {
        font-size: 1.2em; /* Slightly smaller heading on mobile */
    }

    p {
        font-size: 0.8em; /* Adjust paragraph size for mobile readability */
    }
}