<div class="wrapper">
  @for (step of steps; track step; let i = $index) {
  <section id="{{ 'step' + i }}" class="section">
    <app-step class="app_width" [index]="i" [step]="step"></app-step>
    <div style="margin-top: 20px">
      @if (i > 0) {
      <button
        class="btn btn-primary"
        style="margin-right: 0.5rem"
        (click)="scrollTo(i - 1)"
      >
        Back
      </button>
      }
      <button class="btn btn-primary" (click)="scrollTo(i + 1)">Next</button>
    </div>
  </section>
  }

  <section id="review" class="section">
    <app-review></app-review>
    <img src="assets/qr-code.png" alt="QR Code" />
    <a href="https://example.com/review" target="_blank">Leave your review</a>
    <button class="btn btn-primary" (click)="scrollTo(0)">Repeat</button>
  </section>
</div>
