.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 28px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
}

.wrapper {
  background: #e3e1e1;
  background-size: cover;
  color: white;
}

.row > * {
  padding-right: 0 !important;
  padding-left: 0 !important;
}