<div class="wrapper p-0">
  @for (step of steps; track step; let i = $index) {
  <section
    id="{{ 'step' + i }}"
    class="section m-0 d-flex justify-content-center align-items-center"
  >
    <app-step class="app_width" [index]="i" [step]="step"></app-step>
    <div style="margin-top: 20px">
      @if (i > 0) {
      <button
        class="btn btn-primary"
        style="margin-right: 0.5rem"
        (click)="scrollTo(i - 1)"
      >
        Back
      </button>
      }
      <button class="btn btn-primary" (click)="scrollTo(i + 1)">Next</button>
    </div>
  </section>
  }

  <section id="review" class="section">
    <img src="assets/images/feedback-link-qr-code.svg" alt="QR Code" />
    <a
      href="https://cfp.openfest.org/events/832/feedback/new"
      target="_blank"
      class="my-3"
      >Leave your review</a
    >
    <button class="btn btn-primary" (click)="scrollTo(0)">Repeat</button>
  </section>
</div>
